* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #161616;
    --background-background-color: #525252;
}

body {
    background-color: var(--background-color);
}