* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --background-color: #161616;
    --background-background-color: #525252;
    --text-color: #FFFFFF;
    --purple: #5A2278;
}

body {
    background-color: var(--purple);
}