@font-face {
    font-family: "ExtraLightItalic-N";
    src: url(/fonts/Nunito-ExtraLightItalic.ttf);
}

@font-face {
    font-family: "Light-N";
    src: url(/fonts/Nunito-Light.ttf);
}


@font-face {
    font-family: "ExtraLight-N";
    src: url(/fonts/Nunito-ExtraLight.ttf);
}

@font-face {
    font-family: "SemiBold-N";
    src: url(/fonts/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: "Regular-N";
    src: url(/fonts/Nunito-Regular.ttf);
}