@font-face {
    font-family: "ExtraLightItalic-N";
    src: url(/fonts/Nunito-ExtraLightItalic.ttf);
}

@font-face {
    font-family: "SemiBold-N";
    src: url(/fonts/Nunito-SemiBold.ttf);
}