@import url(main.css);

.container {
    margin: 40px 60px;
    border: 1px solid #FFFFFF;
    background-color: var(--background-background-color);
    padding: 30px;
    display: flex;
    gap: 440px;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo-name {
    font-family: "ExtraLightItalic-N";
    font-size: 35px;
    letter-spacing: 5px;
    color: var(--text-color);
    
}

.logo-description {
    font-family: "SemiBold-N";
    font-size: 12px;
    color: var(--text-color);
}

.about-text {
    font-size: 14px;
}